/* HOME PAGE */


/* Hero section */
.fullscreen-image-container {
    padding-top: 60px;
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}
  
.fullscreen-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
}

  
.overlay-text h1 {
    max-width: 800px;
    font-family: "Nexa-Heavy";
    opacity: 90%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 3em;
    margin-bottom: 20px;
}  

/* Info Containers */

.box-info-containers {

    background-color: rgb(35, 35, 35);
    padding-top: 50px;
    padding-bottom: 20px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.text-container{
    
    background-color: rgb(0, 0, 0);
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px solid white;
    border-radius: 0px;
    width: 300px;
    height: 200px;
    color: white;
}

.text-container h3 {

    font-size: 17px;
    font-family: "Nexa-Heavy";
    padding-top: 25px
    /* padding: 10px; */
}

.text-container p {
    margin-top: 15px;
    width: 255px;
    font-size: 15px;
    font-family: "overpass-regular";
    text-align: center;
    padding: 10px;
}


/* Photo Grid */

.grid-container{
    height: fit-content;
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.photogrid {
    z-index: 10;
    height: fit-content;
    width: 95%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photogrid a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* Move the transform here */
    overflow: hidden; /* This is needed to contain the box-shadow */
}

.photogrid img{
    padding-left: 5px;
    padding-bottom: 1px;
    height: 20vh;
    min-height: 100px;
    width: auto;
    transition: all 0.3s ease-in-out;
}

.photogrid a:hover {
    z-index: 100;
    transform: scale(1.05); /* Move the transform here */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6); /* Move the box-shadow here */
}

.photogrid a:before {
    font-family: "overpass-regular";
    content: "View Full Image";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s;
}

.photogrid a:hover:before {
    opacity: 1;
}

/* Clients */

.clients {
    font-family: "Nexa-Heavy";
    background-color: rgb(35, 35, 35);
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel{
    max-width: 1400px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

.carousel img{
    width: 200px;
    height: auto;
}