/* GENERAL STUFF */
@font-face {
    font-family: "Nexa-Heavy";
    src: url("Assets/fonts/nexa-heavy-webfont.woff2") format("woff2"),
         url("Assets/fonts/nexa-heavy-webfont.woff") format("woff");
    /* Include more font formats if available */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "overpass-regular";
    src: url("Assets/fonts/Overpass-Regular.woff2") format("woff2"),
         url("Assets/fonts/Overpass-Regular.woff") format("woff");
    /* Include more font formats if available */
    font-weight: normal;
    font-style: normal;
}

html{
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

/* HEADER */

header a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.1) ;
    z-index: 200;
    padding: 0 20px;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
}


#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#brand a {
    color: #6a8ed1;
}

ul {
    font-family: "overpass-regular";
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    
    color: white;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
    position: fixed;
    top: 60px; /* Adjust according to your header height */
    right: -100%; /* Starts from the right out of the view */
    width: 100%;
    background-color: black;
    z-index: 6;
    transition: right 0.5s ease-out; /* This controls the speed of the slide in/out effect */
    
    display: flex; /* Always show, but out of view when not "open" */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px; /* Add some padding if you like */
    max-height: 110px; /* Control height here */
    overflow: hidden; /* Allow scrolling if content is more than the height */
}

.open .mobile-menu {
    right: 0; /* When open, it's in view */
}

@media only screen and (max-width:600px) {
    header nav{
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}

.logo {
    
    width: 150px; /* or specify a width like 50px */
    height: 60px; /* or specify a height like 50px */
    padding: 10px;
}
#brand a {
    display: inline-block;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
}
footer p{
    font-family: "overpass-regular";
    padding: 10px;
}




/* CONTACT PAGE */
.contactWrap {
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.6);
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid white;
    max-width: 350px;
    min-width: 300px;
    width: 45vw;
    height: 60vh;
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contactImg img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.contact-form {

    width: 35vw;
    padding-top: 60px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly   ;
    align-items: center;
    flex-wrap: nowrap;
}

.textEntry{
    height: 300px;
    
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: space-evenly;
    
}
.contact-form form{
    font-family: "overpass-regular";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h2{
    
    text-align: center;
    margin-top: -50px;
    font-family: "Nexa-Heavy", sans-serif;
    letter-spacing: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-form input{
    color: white;
    background-color: rgb(41, 41, 41);
    border:none;
    border-bottom: 2px solid white;
    font-family: "overpass-regular";
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 3px;
    width: 250px;
    height: 25px;
    border-radius: 3px;
    resize: none;
}
.contact-form div{
    width: max-content;
}

.contact-form textarea{
    overflow-y: hidden;
    color: white;
    font-family: "overpass-regular";
    background-color: rgb(41, 41, 41);
    border: none;
    border-bottom: 2px solid white;
    margin-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    width: 250px;
    border-radius: 3px;
    resize: none;
}

.inputWrapper {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}


.contact-form button{
    font-family: "Nexa-Heavy";
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;
}
.contact-form button:hover{
    
    background-color: rgb(255, 255, 255);
    color: black;
    border: 3px solid rgb(189, 189, 189);

}

textarea:focus, input:focus{
    
    outline: none;
}



